<div class="section list">
    <table>
        <th:block th:if="${items}">
            <colgroup>
                <col style="width: 10%"/>
                <col style="width: 25%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <col style="width: 15%"/>
                <col style="width: 15%"/>
            </colgroup>
            <thead>
                <tr>
                    <th>도서번호</th>
                    <th>제목</th>
                    <th>장르</th>
                    <th>아이디</th>
                    <th>등록일</th>
                    <th>수정일</th>
                </tr>
            </thead>
            
            <tbody>
              <tr th:each="item : ${items}">
                  <td th:text="${item.bkId}"></td>
                  <td><a th:text="${item.bkTitle}" th:href="@{/bookDetail(bkId = ${item.bkId})}"></a></td>
                  <td th:text="${item.bkGenre}"></td>
                  <td th:text="${item.mbId}"></td>
                  <td th:text="${item.bkCreateAt}"></td>
                  <td th:text="${item.bkUpdateAt}"></td>
              </tr>
	        </th:block>    
        </tbody>
    </table>
    
    <th:block th:if="${bookDetail}">
        <h1 style="padding: 30px 0;" th:text="${bookDetail.bkTitle}"></h1>
        <div style="text-align: right;">
            <span style="color: #00a2be;">도서번호 </span> <span th:text="${bookDetail.bkId}"></span> <span style="color: #00a2be"> | </span>
            <span style="color: #00a2be">장르 </span> <span th:text="${genreCode.genre_name}"></span> <span style="color: #00a2be"> | </span> 
            <span style="color: #00a2be">글쓴이 </span> <span th:text="${bookDetail.mbId}"></span> <span style="color: #00a2be"> | </span> 
            <span th:text="${bookDetail.bkCreateAt}"></span> <span style="color: #00a2be"> | </span> 
            <span th:text="${bookDetail.bkUpdateAt}"></span> 
        </div>
        
        <div>
            <ul th:if="${bookFiles}"  th:each="bookFile : ${bookFiles}" style="display: inline-block;margin-bottom: 5px;">
                <li> <img id="imgId" th:src="@{${bookFile.bkNewFileName}}" alt="첨부이미지" width="300" height="300" /></li>
            </ul>
            <p style="padding: 30px 0;" th:text="${bookDetail.bkContent}"></p>
        </div>
        
        <div style="padding: 30px 0; text-align:right;">
        	<th:block th:if="${bookDetail.mbId == session.id}">
		    <a th:href="@{/bookEdit(bkId = ${bookDetail.bkId})}"><button>수정</button></a>
            <a th:href="@{/bookRemove(bkId = ${bookDetail.bkId})}"><button>삭제</button></a>
            </th:block>
            <a th:href="@{bkList}"><button style="background-color: #00a2be; color: white; margin-left: 20px">목록으로</button></a>
        </div>
        
    </th:block>
</div>